/* .footer {
  position: fixed;
  bottom: 0;
  width: 100%;
} */
.footer .logo {
  justify-content: center;
  border: none;
  color: #fff;
}
.privacy-info {
  display: flex;
  justify-content: center;
  background-color: #262626;
  font-family: "Poppins";
  padding-bottom: 20px;
  font-size: 0.7em;
  color: #fff;
}
